BODY
{
    FONT-SIZE: 100%;
    MARGIN: 0px;
    COLOR: #333333;
    FONT-FAMILY: 'Lucida Grande', Verdana, Arial, Sans-Serif, Tahoma;
    BACKGROUND-COLOR: #f9f9f9;
    TEXT-ALIGN: center
}
#smallborder
{
}
#containerwide
{
	MARGIN: 0px;
	PADDING: 0 0 0 5px;
    WIDTH: 833px;
    LINE-HEIGHT: normal;
    BACKGROUND-COLOR: #ffffff;
}
#containerthin
{
    MARGIN: 0px;
	PADDING: 0 0 0 5px;
    WIDTH: 803px;
    LETTER-SPACING: normal;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: center
}
#containerthinner
{
    PADDING-LEFT: 30px;
    MARGIN-LEFT: 40px;
    WIDTH: 800px;
    MARGIN-RIGHT: 40px;
    LETTER-SPACING: normal;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: center
}
#containerwebtv
{
    PADDING-LEFT: 30px;
    MARGIN-LEFT: 40px;
    WIDTH: 800px;
    MARGIN-RIGHT: 40px;
    LETTER-SPACING: normal;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: center
}
#page
{
	MARGIN: 0px;
	BACKGROUND-POSITION: center top;
    BACKGROUND-IMAGE: url(greysq.gif)
}
TD.toptabs
{
    BORDER-RIGHT: #808080 1px solid;
    BORDER-TOP: #808080 1px solid;
    BORDER-LEFT: #808080 1px solid
}
TD.buttonish
{
    BORDER-TOP: #626262 2px solid;
    BORDER-BOTTOM: #626262 2px solid
}
TD.buttonedges
{
    BORDER-RIGHT: #808080 1px solid;
    BORDER-TOP: #808080 1px solid;
    BORDER-LEFT: #808080 1px solid;
    BORDER-BOTTOM: #808080 1px solid
}
TD.lefttabs
{
    BORDER-TOP: #808080 1px solid;
    BORDER-LEFT: #808080 1px solid;
    BORDER-BOTTOM: #808080 1px solid
}
TD.AllBorders
{
    BORDER-RIGHT: #808080 1px solid;
    BORDER-TOP: #808080 1px solid;
    BORDER-LEFT: #808080 1px solid;
    BORDER-BOTTOM: #808080 1px solid
}
TD.orangetab
{
    BORDER-RIGHT: #ffce00 1px solid;
    BORDER-TOP: #ffce00 1px solid;
    BORDER-LEFT: #ffce00 1px solid
}
A:hover
{
    COLOR: red
}
.btnDefault
{
    COLOR: black
}
TABLE.Tour
{
}
P.FirstLetter:first-letter
{
    FONT-SIZE: 150%;
    FLOAT: left;
    LINE-HEIGHT: normal
}
.menuheader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    WIDTH: 0pt;
    COLOR: white;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #626262;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
.menuitem
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: darkgreen;
    TEXT-INDENT: 12pt;
    BORDER-BOTTOM: 1px solid #BBBBBB;
    FONT-FAMILY: Arial;
}
.menuitem A:link
{
    COLOR: darkgreen;
    TEXT-DECORATION: none
}
.menuitem A:visited
{
    COLOR: darkgreen;
    TEXT-DECORATION: none
}
.menuitem A:hover
{
    COLOR: darkgreen;
    TEXT-DECORATION: none
}
.menuitem A:active
{
    COLOR: darkgreen;
    TEXT-DECORATION: none
}
.menuitem1
{
    FONT-WEIGHT: 900;
    FONT-SIZE: 12px;
    COLOR: darkgreen;
    BORDER-BOTTOM: 1pt outset;
    FONT-FAMILY: Arial
}
.menuitem1 A:link
{
    COLOR: darkgreen;
    TEXT-DECORATION: none
}
.menuitem1 A:visited
{
    COLOR: darkgreen;
    TEXT-DECORATION: none
}
.menuitem1 A:hover
{
    COLOR: darkgreen;
    TEXT-DECORATION: none
}
.menuitem1 A:active
{
    COLOR: darkgreen;
    TEXT-DECORATION: none
}
.menusubitem
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 12px;
    COLOR: darkgreen;
    TEXT-INDENT: 30pt;
    BORDER-BOTTOM: 1px solid #BBBBBB;
    FONT-FAMILY: Arial
}
.menusubitem A:link
{
    COLOR: darkgreen;
    TEXT-DECORATION: none
}
.menusubitem A:visited
{
    COLOR: darkgreen;
    TEXT-DECORATION: none
}
.menusubitem A:hover
{
    COLOR: darkgreen;
    TEXT-DECORATION: none
}
.menusubitem A:active
{
    COLOR: darkgreen;
    TEXT-DECORATION: none
}
.greenlink
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10px;
    COLOR: darkgreen;
    FONT-FAMILY: Arial
}
.greenlink A:link
{
    COLOR: darkgreen;
    TEXT-DECORATION: none
}
.greenlink A:visited
{
    COLOR: darkgreen;
    TEXT-DECORATION: none
}
.greenlink A:hover
{
    COLOR: darkgreen;
    TEXT-DECORATION: none
}
.greenlink A:active
{
    COLOR: darkgreen;
    TEXT-DECORATION: none
}
.detailedViewTextBox1
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: black 1px solid;
    WIDTH: 90%;
    COLOR: black;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
.TDBODER
{
    BORDER-TOP: black double
}
.style4
{
    FONT-SIZE: 12px;
    COLOR: #646464;
    LINE-HEIGHT: 140%;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}

.captionHeader
{
    FONT-SIZE: 16px;
    COLOR: #646464;
    LINE-HEIGHT: 140%;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-WEIGHT: bold;
}

.boxTitleFont
{
    PADDING-LEFT: 7px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #464646;
    LINE-HEIGHT: 120%;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.testimonialFont
{
	FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #333333;
    LINE-HEIGHT: normal;
    FONT-FAMILY: "Myriad Pro", Arial, sans-serif;
    LETTER-SPACING: normal;
	text-align: top;
}
.testimonialFontQuote
{
    
    FONT-SIZE: 8pt;
    COLOR: #333333;
    LINE-HEIGHT: normal;
    FONT-FAMILY: "Myriad Pro", Arial, sans-serif;
    
}
.topVisitedSitesLinks
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    LINE-HEIGHT: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}

.instructions_text{
color: #356416;
font-style: italic; 
font-family: Arial, Helvetica, san-serif;

font-size: 8pt;

}

.product_comparison_div_table{
 margin-top: 0;  border-right: 1px solid #BBBBBB; border-top: 1px solid #BBBBBB; border-left: 1px solid #BBBBBB; border-bottom: 0px;
 font-size:12px;
 }

.product_comparison_info_column{
 
 margin-top: 0;  border-right: 1px solid #FFFFFF; border-top: 1px solid #FFFFFF; border-left: 1px solid #FFFFFF; border-bottom: 0px;
 font-size:12px;
 }

.product_comparison_div_table_bottom{
 
 margin-top: 0;  border-right: 1px solid #BBBBBB; border-top: 1px solid #BBBBBB; border-left: 1px solid #BBBBBB; border-bottom: 1px solid #BBBBBB;
 font-size:12px;
 }

.product_comparison_text{
font-size:11pt;
font-weight: bold;
font-family: "Myriad Pro", Arial, sans-serif;
}

.product_comparison_normal_text{
font-size:9pt;
font-weight: bold;
font-family: "Myriad Pro", Arial, sans-serif;
}

.product_comparison_infotext{
font-size:12px;
font-weight: bold;
color: #464646;
font-family: "Myriad Pro", Arial, sans-serif;
}

.premium_table_column{
font-family: Arial, Helvetica, san-serif;
line-height:150%;
color: #676767;
font-weight: 700;
font-size: 10pt;
}

.you_save_text{
font-family: Arial, Helvetica, san-serif;
line-height:150%;
color: #676767;
font-weight: 700;
font-size: 8pt;

}

.premium_table_header_text{
font-size:9pt; 
font-weight:bold; 
color:white;
font-family: Arial, Helvetica, San-Serif;
}


.moreinfo{
display:none; 
position:absolute; 
border-right: 1px solid #BBBBBB; border-top: 1px solid #BBBBBB; border-left: 1px solid #BBBBBB; border-bottom: 1px solid #BBBBBB;
background-color: white; 
padding: 5px;
font-family: Arial, Helvetica, San-Serif;
font-size: 9pt;
width: 200px;
text-align:left;
color: darkgreen;

}

a.infoLink:link, a.infoLink:visited
{
font-size:12px;
font-weight: bold;
color: #464646;
text-decoration: underline;
font-family: "Myriad Pro", Arial, sans-serif;
}

a.infoLink:hover
{
font-size:12px;
font-weight: bold;
color: #464646;
text-decoration: underline;
font-family: "Myriad Pro", Arial, sans-serif;
}